body {
    margin: 0;
    background: #008080;
}

img {
    image-rendering: pixelated;
}

.overlay,
.debug {

    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.078);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

}

.debug {
    justify-content: flex-start;
    align-items: flex-start;
}

.window-icon {
    margin-right: 10px;
}

.window-icon:not(:has(*)) {
    margin: 0;
}

.window-body {
    display: flex;
}

.window-content {
    width: 100%;
    height: 100%;
}

.buttons {
    display: flex;
    width: 100%;
}

.buttons * {
    margin: 0px 1px;
}

.buttons.right {
    justify-content: right;
}

.buttons.left {
    justify-content: left;
}

.buttons.center {
    justify-content: center;
}

#petui {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    box-sizing: border-box;
}

.right {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.left {
    padding: 20px;
    box-sizing: border-box;
}

.extra {
    filter: opacity(50%);
    font-style: italic;
}

p.extra {
    margin: 5px 0px;
}

.statlist {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.statlist .stat {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title-bar-text {
    text-overflow: ellipsis;
    overflow: hidden;
}

.window-icon img {
    max-width: 50px;
}

.overlay .window {
    margin-right: 10px;
}

.progress-bar {
    width: 100px;
    overflow: hidden;
    background: white;

    appearance: none;
    border: none;
    border-radius: 0;
    box-shadow: inset -2px -2px #dfdfdf, inset 2px 2px grey;
    box-sizing: border-box;
    padding: 4px;
}

.bar {
    background-color: blue;
    height: 100%;
    width: 0%;
    z-index: 99;
    max-width: 100% !important;
    min-width: 0% !important;
}

#pethunger {
    background-color: brown;
}

#pethealth {
    background-color: green;
}

#petthirst {
    background-color: blue;
}

#petdirt {
    background-color: grey;
}

#pettiredness {
    background-color: #008080;
}

#pethappiness {
    background-color: rgb(236, 0, 208);
}

.left .window {
    margin-bottom: 10px;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.list span {
    font-weight: bold;
    margin: 0px 3px;
}

.market-grid {
    display: flex;
    max-width: 798px;
    width: 798px;
    height: 400px;
    overflow: hidden;
    overflow-y: auto;
    flex-wrap: wrap;
}

.market-grid article {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 5px;
    max-width: 104px;
    height: fit-content;
}

.market-grid article h5 {
    margin: 5px;
    font-size: 13px;
    text-align: center;
}

.market-grid article * {
    display: block;
    margin-bottom: 5px;
}

.market-grid article .effects {
    font-size: 8px;
    margin-bottom: -10px;
    text-align: left;
    width: 100%;
}

.market-grid article .effects span {
    margin-bottom: 0;
}

font {
    margin: 0 !important;
}

.messagescontainer {
    padding: 2px;
    height: 150px;
    margin-bottom: -3px;
}

.messages {
    width: 100%;
    height: 100%;
    display: flexbox;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    overflow-y: scroll;
}

.message {
    width: 95%;
    padding: 4px;
    box-sizing: border-box;

    box-shadow: inset 1px 1px #fcfcfe, inset -1px -1px #fcfcfe, 1px 2px 2px 0 rgba(208, 206, 191, .75);
    clear: both;
    background: rgb(255, 228, 75);
    border: 1px solid #919b9c;
    position: relative;
    z-index: 2;
    margin-top: 5px;
    animation-name: messageSpawn;
    animation-duration: .4s;
    animation-iteration-count: 1;
    background: linear-gradient(180deg, #fcfcfe, #f4f3ee);
}

.buybtn {
    cursor: pointer;
    background: linear-gradient(180deg,#86ff30,#31cf05 86%,#017a09);
    font-weight: 900;
    color: white;
}
.buybtn[disabled], .buybtn:disabled {
    background: linear-gradient(180deg,#fff,#ecebe5 86%,#d8d0c4);
    font-weight: 100;
    color: black;
    filter: opacity(50%);
    cursor: unset;
}

#sleepList {
    display: flex;
    flex-direction: column;
}

@keyframes messageSpawn {
    from {
        background: rgb(255, 228, 75);
    }
    to {
        background: linear-gradient(180deg, #fcfcfe, #f4f3ee);
    }
}